---
apiVersion: apps/v1
kind: "Deployment"
metadata:
  name: watani-notifi
  labels:
    app: watani-notifi
  namespace: argocd
spec:
  replicas: 2
  revisionHistoryLimit: 4
  selector:
    matchLabels:
      app: watani-notifi
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: watani-notifi

    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - watani-notifi
            topologyKey: "kubernetes.io/hostname"  

    spec:
      securityContext:
        fsGroup: 2000
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 3000
      restartPolicy: Always
      terminationGracePeriodSeconds: 20
      containers:
      - name: watani-notifi
        image: 163048243785.dkr.ecr.me-central-1.amazonaws.com/watani-preprod:watani-preprod-notifi-26
        imagePullPolicy: Always
        ports:
        - containerPort: 3001
          name: watani-notifi
        - containerPort: 50051
          name: notifi-grpc
        readinessProbe:
          tcpSocket:
            port: 3001
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 3001
          initialDelaySeconds: 15
          periodSeconds: 20
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "sleep 40"]
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          runAsUser: 1000
          capabilities:
            drop: ["SETUID", "SETGID"]
        resources:
          limits:
            cpu: "512m"
            memory: "512Mi"
          requests:
            cpu: "256m"
            memory: "256Mi"
        volumeMounts:
            - name: env
              mountPath: /usr/src/app/.env
              subPath: .env
              readOnly: true
      volumes:
        - name: env
          secret:
            secretName: watani-notifi-svc-secret

